GROQ_API_KEY=
LANGSMITH_API_KEY=
TAVILY_API_KEY=
DATABASE_URL=

DB_HOST=localhost
DB_PORT=5432
DB_NAME=company_intel
DB_GENERAL_USER=general_role
DB_GENERAL_PASSWORD=general_dev_password
DB_ELEVATED_USER=app_owner
DB_ELEVATED_PASSWORD=devpassword